body {
    margin: 0;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}




/*BANNER*/
.banner {
    background-image:
        linear-gradient(to top right, rgba(228, 221, 221, 0.50) 10%, rgba(0, 0, 0, 0.80) 60%),
        url('banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-animation: Animation 3s ease;
    -moz-animation: Animation 3s ease;
    animation: Animation 3s ease;
    background-size: cover;
    flex-wrap: wrap;
}

@-webkit-keyframes Animation {
    0% {
        background-position: 10% 0%
    }

    50% {
        background-position: 91% 100%
    }

    100% {
        background-position: 10% 0%
    }
}

@-moz-keyframes Animation {
    0% {
        background-position: 10% 0%
    }

    50% {
        background-position: 91% 100%
    }

    100% {
        background-position: 10% 0%
    }
}

@keyframes Animation {
    0% {
        background-position: 0% 0%
    }

    50% {
        background-position: 100% 100%
    }

    100% {
        background-position: 0% 0%
    }
}

/*BANNER SZÖVEG*/
header h1 {
    width: 700px;
    border: 5px solid cadetblue;
    padding: 25px;
    margin: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: whitesmoke;
    font-size: 3rem;
    text-align: center;
    opacity: 0.9;
}

/*NAVBAR*/
.topnav {
    background-color: #333;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

/*INFORMÁCIÓ*/
.terkep {
    align-items: center;
    width: 700px;
    height: 500px;
    margin: 25px auto;

    border: rgb(176, 228, 176) 15px inset;
}

.infoSzoveg {
    margin-left: 20%;
    margin-right: 20%;
    color: rgb(3, 3, 3);
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.infoSzoveg h3 {
    text-decoration: underline 3px rgb(182, 50, 50);
    text-underline-offset: 6px;
    font-weight: bolder;
}

.infoSzoveg p {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: justify;
    font-size: 16px;
    margin: 6px 4px;
    transition: 0.3s;
}

.infoSzoveg p:hover {
    background-color: #3e8e41;
    color: white;
}

.csoport {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 70vh;
    width: auto;
    margin: 5%;
    border-radius: 5%;


}

.csoport img {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: 1s;
}

.csoport img:hover {
    -webkit-filter: grayscale(0%);
    filter: none;
    transition: 1s;


}

/*GALÉRIA*/
ul.gallery {
    margin-left: 11%;
    margin-right: 10%;
    list-style: none;
    margin-bottom: 30px;

}

ul.gallery li {
    width: 23%;
    height: 150px;
    margin-left: 5%;
    margin-right: 1%;
    margin-bottom: 25px;
    float: left;
}

ul.gallery li a {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.75;
    border: 1px solid #f2f0ef;
    transition: opacity 0.3s, border 0.3s;
    overflow: hidden;
}

ul.gallery li a:hover {
    border: 1px solid #ffffff;
    opacity: 1;
}

ul.gallery li a img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: width 0.3s, height 0.3s;
}

ul.gallery li a img:hover {
    width: 110%;
    height: 115%;
}

.galleryText {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 3%;
    text-align: justify;
    font-family: Helvetica, sans-serif
}

.galleryText h1 {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    border-bottom: 5px groove rgb(34, 32, 32);
    padding-bottom: 5px;
    padding-right: 12%;
}

/*FOOTER*/
footer {
    padding: 5px;
    background-color: #333;
    color: white;
    margin-top: auto;
    text-align: center;
}

.wrapper {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
    margin-left: 90px;
}

.first {
    flex: 0;
    max-width: 300px;
    margin: auto;
    font-family: Helvetica, sans-serif;
    margin-top: 5px;
    padding-left: 15px;
    border-bottom: 1px solid green;
    border-top: 1px solid green;

}

.second {
    flex: 1;
    max-width: 300px;
    margin: auto;
    margin-top: 5px;
    font-family: Helvetica, sans-serif;
    padding-left: 15px;
    border-bottom: 1px solid green;
    border-top: 1px solid green;
}

.cimer img {
    flex: 2;
    margin: auto;
    width: auto;
    padding-left: 15px;
    border-bottom: 1px;
    border-top: 1px;
    height: 200px;
}

/*KAPCSOLAT*/
.container {
    margin-left: 15%;
    margin-right: 15%;
    align-items: left;
    margin-top: 2%;
    margin-bottom: 2%;
}

.container p {
    margin-right: 60px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
}

.container img {
    width: auto;
    height: 400px;
    align-self: flex-end;
    border-radius: 5%;
}

.content1,
.content2,
.content3 {

    padding: 10px;
    width: auto;
    display: inline-flex;
    margin: auto;
    margin-bottom: 30px;
    border: solid 10px rgb(115, 153, 110);
    clip-path: polygon(calc(0% + 5px) calc(0% + 5px),
            /* top left */
            calc(100% - 5px) calc(0% + 5px),
            /* top right */
            calc(100% - 5px) calc(100% - 5px),
            /* bottom right */
            calc(0% + 5px) calc(100% - 5px)
            /* bottom left */
        );
    transition: clip-path 0.3s linear;
}

.content2:hover,
.content3:hover,
.content1:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}


.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

/*INDEX*/
.mainText {
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
}

.videocontainer,
.videocontainer iframe {
    width: 800px;
    height: 500px;
    padding: auto;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;


}

.videocontainer iframe {
    display: block;
    border: rgb(176, 228, 176) 15px inset;
}